---
interface Props {
	title: string;
}

const { title } = Astro.props;
const description = "StylEase: Spice up your everyday photos with stylEase."
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Canonical URL -->
		<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)}>


		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://muri-o.com/stylease">
		<meta property="og:type" content="website">
		<meta property="og:title" content="stylEase">
		<meta property="og:description" content={description}>
		<meta property="og:image" content="https://muri-o.com/app-image-dark.jpeg">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="muri-o.com">
		<meta property="twitter:url" content="https://muri-o.com/stylease">
		<meta name="twitter:title" content="stylEase">
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content="https://muri-o.com/app-image-dark.jpeg">

		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/stylEase-dark.svg" />
		<script src="../lib/faviswitch.js"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!--umami tag -->
		<script async src="https://cloud.umami.is/script.js" data-website-id="12530c83-a562-4009-9c6c-99244c83d48c"></script>
	</head>
	<body>
		<slot />
	</body>
</html>
