---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

import Card from '../components/Card.astro'
import {data} from '../data/card-data'
import {DreamyGradient} from '@muridot0/dreamy-gradients'
---

<Layout title='stylEase'>
  <Header />
  <main>
    <div class='container mt-4 text-center'>
      <div class='flex justify-center text-[3rem]'>
        <DreamyGradient
          size={{ height: '15rem', width: '15rem' }}
          color='linear-gradient(#EA8D8D, #A890FE)'
          animate='true'
          position={{ top: '10rem' }}
          blur={3}
          borderRadius='50%'
          client:only='react'
        />
        <h1 class='gradient'>
          <div>
            Introducing <span class='font-[Chilanka] font-normal'>
              stylEase
            </span>:
          </div>

          Transform Your Photos into
          <div>Masterpieces</div>
        </h1>
      </div>

      <div class='mt-4'>
        <h2 class='text-lg'>
          Achieve easy artistry for everyday photos using styleEase!
        </h2>

        <a
          href="https://stylease.muri-o.com"
          class='get-started relative mt-20 inline-flex items-center gap-2 rounded-lg px-2 py-1 pt-2 font-medium text-[#eeefef] hover:brightness-[110%] active:brightness-100'>
          Get started
        </a>
      </div>
    </div>

    <div class='mt-15 container relative flex justify-center'>
      <DreamyGradient
        size={{ height: '25rem', width: '25rem' }}
        color='linear-gradient(to right, #0e0725, #5c03bc, #e536ab, #f4e5f0)'
        position={{ top: '25rem', bottom: '10rem' }}
        animate='true'
        blur={13}
        client:only='react'
      />

      <DreamyGradient
        size={{ height: '8rem', width: '8rem' }}
        color='linear-gradient(#00ee6e, #0c75e6)'
        position={{ top: '0rem', right: '15rem' }}
        blur={5}
        client:only='react'
      />

      <DreamyGradient
        size={{ height: '8rem', width: '8rem' }}
        color='linear-gradient(#764BA2, #667EEA)'
        position={{ top: '0rem', left: '16rem' }}
        animate={{
          '0%': {
            transform: 'translateY(0) translateX(0) scale(0.25)',
            opacity: '1'
          },
          '100%': {
            transform: 'translateY(-200px) translateX(-20px) scale(1)',
            opacity: '0'
          }
        }}
        blur={1}
        borderRadius='50%'
        client:only='react'
      />

      <DreamyGradient
        size={{ height: '8rem', width: '8rem' }}
        color='yellow'
        position={{ top: '2rem', left: '16rem' }}
        animate={{
          '0%': {
            transform: 'translateY(0) translateX(0) scale(0.15)',
            opacity: '1'
          },
          '100%': {
            transform: 'translateY(-250px) translateX(-20px) scale(1)',
            opacity: '0'
          }
        }}
        blur={1}
        borderRadius='50%'
        client:only='react'
      />
      <DreamyGradient
        size={{ height: '8rem', width: '8rem' }}
        color='blue'
        position={{ top: '4rem', left: '16rem' }}
        animate={{
          '0%': {
            transform: 'translateY(0) translateX(0) scale(0.15)',
            opacity: '1'
          },
          '100%': {
            transform: 'translateY(-250px) translateX(-20px) scale(1)',
            opacity: '0'
          }
        }}
        blur={1}
        borderRadius='50%'
        client:only='react'
      />
      <DreamyGradient
        size={{ height: '8rem', width: '8rem' }}
        color='red'
        position={{ top: '6rem', left: '16rem' }}
        animate={{
          '0%': {
            transform: 'translateY(0) translateX(0) scale(0.15)',
            opacity: '1'
          },
          '100%': {
            transform: 'translateY(-250px) translateX(-20px) scale(1)',
            opacity: '0'
          }
        }}
        blur={1}
        borderRadius='50%'
        client:only='react'
      />

      <picture class='mr-4'>
        <source
          srcset='/app-image-dark.jpeg'
          media='(prefers-color-scheme: dark)'
        />
        <img
          src='/app-image-light.jpeg'
          class='relative w-full max-w-[992px] rounded-t-[12px] border-l border-r border-t border-[--border] shadow-xl'
          alt=''
        />
      </picture>
    </div>

    <hr class='w-full border-t-[--border]' />

    <div class='bg-[--home-bg-color] px-10 py-8 relative z-1'>
      <div class='flex flex-col items-center'>
        <h2 class='pb-2 text-lg text-left font-bold'>Welcome to the home of stylEase - let’s create something beautiful together!</h2>
        <p class='max-w-[38rem] text-left text-[--text-muted]'>
          Come and achieve artistry <i><u>easily</u></i>. Try countless
          image combinations and watch as your photos come to life with vibrant
          colors and unique textures while exploring your creativity.
        </p>
        <h3 class="pt-6 underline">Tips</h3>
      </div>

      <div
        class='flex bg-[--home-bg-color] max-md:(flex-col items-center) relative w-full justify-center gap-8 pt-4'>
        <DreamyGradient
          size={{ height: '15rem', width: '15rem' }}
          color='linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%)'
          animate='true'
          position={{ top: "8rem", left: "0rem"}}
          blur={5}
          borderRadius='50%'
          zIndex={0}
          client:only='react'
        />
        <DreamyGradient
          size={{ height: '10rem', width: '10rem' }}
          color='linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%)'
          animate={{
            "0%,100%": { opacity: 1 },
            "50%": { opacity: 0.5 }
          }}
          position={{ top: "3rem", right: "0rem"}}
          blur={3}
          borderRadius='50%'
          zIndex={0}
          client:only='react'
        />
        {data.map((data) => (
          <Card class="relative w-full max-w-[400px]"
            src={data.src}
            darkSrc={data.darkSrc}
            content={data.content}
            title={data.title}
            icon={data.icon}
          />
        ))}
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style>
  .grid {
  }
</style>
