---
const props = Astro.props
---

<div class:list={[props.class, 'flex flex-col mb-4']}>
  <picture>
    <source
      srcset={props.darkSrc}
      media='(prefers-color-scheme: dark)'
    />
    <img class="border border-[--border] rounded-[12px] shadow-lg w-full" src={props.src} alt={props.alt}>
  </picture>
  <div class="py-4">
    <div class="flex gap-2">
      <span class=`${props.icon} font-200`></span>
      <h2 class="font-bold">{props.title}</h2>
    </div>
    <p class="text-[--text-muted]">{props.content}</p>
  </div>
</div>
