---
const props = Astro.props
---

<div class:list={[props.class]}>
  <picture>
    <source
      srcset={props.darkSrc}
      media='(prefers-color-scheme: dark)'
    />
    <img class="border border-[--border] rounded-[12px] shadow-lg w-full" src={props.src} alt={props.alt}>
  </picture>
  <div class="text-left py-4">
    <h2>{props.title}</h2>
    <p>{props.content}</p>
  </div>
</div>
